
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var name = "Devrash Trivedi";
}

<h1>Index</h1>
<p>This is my Home page..</p>


 @* @{
     var name1 = "Devarsh";

     if (name1.Equals("Devarsh"))
     {
         <h3>Heyy</h3>
     }
     else
     {
         <h3>Bye</h3>
     }
 }

 @{
     for(int i = 0; i < 10; i++)
     {
         <h3>@i</h3>
     }
 }

 @{
     string[] names = { "a", "b", "c" };
     foreach(var item in names)
     {
         <h3>@item</h3>       
     }
 }
 *@
